* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 16px;
    font-weight: 600;
}

window#waybar {
    background: #272c36;
    color: #d8dee9;
}

/* Widgets */
#workspaces,
#tray,
#memory,
#pulseaudio,
#clock {
    margin: 5 3px;
    border: 3px solid #4c566a;
    background: #3b4252;
    padding: 0 7px;
}

#workspaces {
    /* 3px Handled by Buttons */
    padding: 0 2px;
}

/* Active Window */
#workspaces button {
    padding: 0 3px;
    border: none;
    background: transparent;
    color: #d8dee9;
}

#workspaces button.active {
    border-radius: 0;
    background: #8fbcbb;
    color: #2e3440;
}

/* Window name management */
#window {
    padding: 0 10px;
    min-width: 1px;
    background: #8fbcbb;
    color: #2e3440;
    margin: 5 3px;
    padding: 0 10px;
}

window#waybar.empty #window {
    background: transparent;
}
