secrets/** filter=git-crypt diff=git-crypt
configs/aws/** filter=git-crypt diff=git-crypt
configs/gdrive/** filter=git-crypt diff=git-crypt
configs/textual-web/** filter=git-crypt diff=git-crypt
*.ovpn filter=git-crypt diff=git-crypt
