// Basic settings
prefer-no-csd
animations {
    off
}
hotkey-overlay {
    skip-at-startup
}

// Workspace Management
workspace "1"
workspace "2"
workspace "3"
workspace "4"
workspace "5"

// Layout
layout {
    gaps 4
    default-column-width { proportion 1.0; }
    focus-ring {
        width 3
        active-color "#88c0d0"
        inactive-color "#88c0d000"
    }
}

// Keys
binds {

    // Window Management
    Mod+Q repeat=false { close-window; }
    Mod+M { maximize-column; }
    Mod+Shift+F { switch-focus-between-floating-and-tiling; }

    // Global keys
    Mod+Return { spawn-sh "wezterm-gui connect unix --workspace main"; }
    Alt+Return { spawn-sh "wezterm-gui connect unix --workspace extra"; }

    Mod+Shift+Return { spawn-sh "rofi -show drun"; }
    Mod+Shift+O { spawn-sh "rofi-audio-switcher"; }
    Mod+Shift+B { spawn-sh "rofi-bluetooth"; }
    Mod+X { spawn-sh "rofi -show power-menu"; }

    Mod+Up allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+"; }
    Mod+Down allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }

    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    Mod+Home allow-when-locked=true { spawn "ddcutil" "setvcp" "10" "+" "5" ; }
    Mod+End allow-when-locked=true { spawn "ddcutil" "setvcp" "10" "-" "5" ; }

    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Right      { focus-workspace-down; }
    Mod+Left        { focus-workspace-up; }
    Mod+Shift+Right { move-column-to-workspace-down; }
    Mod+Shift+Left   { move-column-to-workspace-up; }

    Mod+Tab { focus-workspace-previous; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+P { spawn-sh "cliphist list | cut -d$'\t' -f2- | rofi -dmenu | cliphist decode | wl-copy"; }
    Mod+Insert { spawn "flameshot" "gui"; }
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Ctrl+Alt+Delete { quit; }
    Mod+Shift+P { power-off-monitors; }
}

// Scripts
spawn-sh-at-startup "swaybg -i ~/.wallpapers/the_great_wave.png"
spawn-sh-at-startup "wlsunset -t 5500"
spawn-sh-at-startup "wezterm-mux-server --daemonize"
spawn-sh-at-startup "caffeine"
spawn-sh-at-startup "syncthing --no-browser"
spawn-sh-at-startup "Telegram -startintray"
spawn-sh-at-startup "discord --start-minimized"
spawn-sh-at-startup "systemctl --user import-environment PATH && systemctl --user restart xdg-desktop-portal.service"
spawn-sh-at-startup "wl-paste --watch cliphist store"
spawn-sh-at-startup "pkill waybar"

spawn-at-startup "waybar"
spawn-at-startup "xwayland-satellite"
